<div class="container pb-0 h-100">
    <div class="col-ls-12 col-md-12 col-sm-12">
        <div class="card card-stretch mb-8 mb-xxl-8">
            <div class="card-body pb-0">
                <div class="d-flex flex-column h-100">
                    <h3 class="text-dark text-center fs-1 fw-bolder pt-15 lh-lg">Login
                        <br />Gluky
                    </h3>
                    <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom h-200px"
                        style="background-image:url('assets/media/illustrations/terms-2.png')"></div>
                    <form class="validate-form" (ngSubmit)="login(f)" #f="ngForm">
                        <div class="row pt-7">
                            <div class="offset-sm-3 col-sm-6">
                                <input type="text" name="email" [(ngModel)]="usuario.email" required
                                    class="form-control" email placeholder="name@example.com" autocomplete="off">
                                <span *ngIf="f.submitted && f.controls['email'].errors"
                                    class="text-danger animated fadeIn">El correo es obligatorio</span>
                            </div>
                        </div>
                        <div class="row pt-7">
                            <div class="offset-sm-3 col-sm-6">
                                <input type="password" name="password" [(ngModel)]="usuario.password" required
                                    minlength="6" class="form-control" placeholder="Password">
                                <span *ngIf="f.submitted && f.controls['password'].errors"
                                    class="text-danger animated fadeIn">La contraseña debe de ser más o igual de 8
                                    letras</span>
                            </div>
                        </div>
                        <div class="text-center pt-7">
                            <button class="btn btn-primary fw-bolder fs-6 px-7 py-3" type="submit">
                                Ingresar
                            </button>
                        </div>
                        <div class="text-center pt-7"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>